In [2]:
import pandas as pd
import numpy as np

import pytz
import astral as ast
from astral import LocationInfo
from astral.sun import sun
from datetime import datetime, timedelta, date

In [3]:
# read in with pandas
winter1 = pd.read_csv ('1v420-21data.txt')
winter2 = pd.read_csv ('1v421-22data.txt')
winter3 = pd.read_csv ('1v422-23data.txt')

In [71]:
winter2

     station            datetime  precip(mm) wxcodes
0        1V4 2021-12-01 00:54:00        0.00       M
1        1V4 2021-12-01 01:54:00        0.00       M
2        1V4 2021-12-01 02:54:00        0.00       M
3        1V4 2021-12-01 03:54:00        0.25       M
4        1V4 2021-12-01 04:54:00        0.25       M
...      ...                 ...         ...     ...
2110     1V4 2022-02-27 19:54:00        0.00       M
2111     1V4 2022-02-27 20:54:00        0.25       M
2112     1V4 2022-02-27 21:54:00        0.25       M
2113     1V4 2022-02-27 22:54:00        0.25       M
2114     1V4 2022-02-27 23:54:00        0.00       M

[2115 rows x 4 columns]

In [73]:
# rename columns
winter1 = winter1.rename(columns = {'valid': 'datetime', 'p01m': 'precip(mm)'})
winter2 = winter2.rename(columns = {'valid': 'datetime', 'p01m': 'precip(mm)'})
winter3 = winter3.rename(columns = {'valid': 'datetime', 'p01m': 'precip(mm)'})

# datetime format
winter1['datetime'] = pd.to_datetime(winter1['datetime'])
winter2['datetime'] = pd.to_datetime(winter2['datetime'])
winter3['datetime'] = pd.to_datetime(winter3['datetime'])

In [5]:
# mask out days without precipitation
codes = ['GR','GS','IC','PL','PY','RA','SG','SH','SN','SQ','TS','UP']

mask1 = winter1['wxcodes'].apply(lambda x: any(sub in x for sub in codes))
mask2 = winter2['wxcodes'].apply(lambda x: any(sub in x for sub in codes))
mask3 = winter3['wxcodes'].apply(lambda x: any(sub in x for sub in codes))

precip_days1 = winter1[mask1]
precip_days2 = winter2[mask2]
precip_days3 = winter3[mask3]

In [6]:
precip_days2

Empty DataFrame
Columns: [station, datetime, precip(mm), wxcodes]
Index: []

In [7]:
# replace Trace with 0.0001
precip_days1['precip(mm)'] = precip_days1['precip(mm)'].replace('T', 0.0001)
precip_days2['precip(mm)'] = precip_days2['precip(mm)'].replace('T', 0.0001)
precip_days3['precip(mm)'] = precip_days3['precip(mm)'].replace('T', 0.0001)

In [8]:
# make sure numeric form
precip_days1['precip(mm)'] = pd.to_numeric(precip_days1['precip(mm)'])
precip_days2['precip(mm)'] = pd.to_numeric(precip_days2['precip(mm)'])
precip_days3['precip(mm)'] = pd.to_numeric(precip_days3['precip(mm)'])

In [9]:
# eliminate special weather 
precip_days1 = precip_days1[precip_days1['datetime'].dt.minute == 54]
precip_days2 = precip_days2[precip_days2['datetime'].dt.minute == 54]
precip_days3 = precip_days3[precip_days3['datetime'].dt.minute == 54]

In [10]:
precip_days1.dtypes

station               object
datetime      datetime64[ns]
precip(mm)           float64
wxcodes               object
dtype: object

In [11]:
precip_days1['date'] = precip_days1['datetime'].dt.date

In [12]:
v4 = LocationInfo(
    'St. Johnsbury', 'Vermont', 
    latitude=44.4193,
    longitude=-72.0151, 
    timezone='America/Vermont'
)

v4

LocationInfo(name='St. Johnsbury', region='Vermont', timezone='America/Vermont', latitude=44.4193, longitude=-72.0151)

In [13]:
# create a date range (winter 1)
date_range1 = pd.date_range(start='2020-12-01', end='2021-2-28', tz='America/New_York')

# lists to store sunrise and sunset times
sunrise_times1 = []
sunset_times1 = []

# Calculate sunrise and sunset for each date
for date in date_range1:
    s = sun(v4.observer, date=date)
    
    sunrise_times1.append(s['sunrise'])
    sunset_times1.append(s['sunset'])

# df with results
sun_times1 = pd.DataFrame({
    'datetime': date_range1.date,
    'sunrise': sunrise_times1,
    'sunset': sunset_times1
})

sun_times1['sunrise'] = pd.to_datetime(sun_times1['sunrise'])
sun_times1['sunset'] = pd.to_datetime(sun_times1['sunset'])

In [14]:
# create a date range (winter 2)
date_range2 = pd.date_range(start='2021-12-01', end='2022-2-28', tz='America/New_York')

# lists to store sunrise and sunset times
sunrise_times2 = []
sunset_times2 = []

# Calculate sunrise and sunset for each date
for date in date_range2:
    s = sun(v4.observer, date=date)
    
    sunrise_times2.append(s['sunrise'])
    sunset_times2.append(s['sunset'])

# df with results
sun_times2 = pd.DataFrame({
    'datetime': date_range2.date,
    'sunrise': sunrise_times2,
    'sunset': sunset_times2
})

sun_times2['sunrise'] = pd.to_datetime(sun_times2['sunrise'])
sun_times2['sunset'] = pd.to_datetime(sun_times2['sunset'])

In [15]:
# create a date range (winter 3)
date_range3 = pd.date_range(start='2022-12-01', end='2023-2-28', tz='America/New_York')

# lists to store sunrise and sunset times
sunrise_times3 = []
sunset_times3 = []

# Calculate sunrise and sunset for each date
for date in date_range3:
    s = sun(v4.observer, date=date)
    
    sunrise_times3.append(s['sunrise'])
    sunset_times3.append(s['sunset'])

# df with results
sun_times3 = pd.DataFrame({
    'datetime': date_range3.date,
    'sunrise': sunrise_times3,
    'sunset': sunset_times3
})

sun_times3['sunrise'] = pd.to_datetime(sun_times3['sunrise'])
sun_times3['sunset'] = pd.to_datetime(sun_times3['sunset'])

In [16]:
# add sunrise and sunset times (winter1)
sun_times1['sunrise'] = sun_times1['sunrise'].dt.strftime('%Y-%m-%d %H:%M:%S')
sun_times1['sunset'] = sun_times1['sunset'].dt.strftime('%Y-%m-%d %H:%M:%S')

sun_times1['date'] = sun_times1['datetime']
sun_times1 = sun_times1.drop(columns=['datetime'])

print(sun_times1)

                sunrise               sunset        date
0   2020-12-01 07:04:58  2020-12-01 16:09:26  2020-12-01
1   2020-12-02 07:06:04  2020-12-02 16:09:07  2020-12-02
2   2020-12-03 07:07:09  2020-12-03 16:08:51  2020-12-03
3   2020-12-04 07:08:12  2020-12-04 16:08:37  2020-12-04
4   2020-12-05 07:09:14  2020-12-05 16:08:26  2020-12-05
..                  ...                  ...         ...
85  2021-02-24 06:33:33  2021-02-24 17:29:30  2021-02-24
86  2021-02-25 06:31:53  2021-02-25 17:30:50  2021-02-25
87  2021-02-26 06:30:13  2021-02-26 17:32:11  2021-02-26
88  2021-02-27 06:28:32  2021-02-27 17:33:31  2021-02-27
89  2021-02-28 06:26:49  2021-02-28 17:34:51  2021-02-28

[90 rows x 3 columns]

In [17]:
# add sunrise and sunset times (winter2)

sun_times2['sunrise'] = sun_times2['sunrise'].dt.strftime('%Y-%m-%d %H:%M:%S')
sun_times2['sunset'] = sun_times2['sunset'].dt.strftime('%Y-%m-%d %H:%M:%S')

sun_times2['date'] = sun_times2['datetime']
sun_times2 = sun_times2.drop(columns=['datetime'])

print(sun_times2)

                sunrise               sunset        date
0   2021-12-01 07:04:41  2021-12-01 16:09:31  2021-12-01
1   2021-12-02 07:05:48  2021-12-02 16:09:11  2021-12-02
2   2021-12-03 07:06:53  2021-12-03 16:08:54  2021-12-03
3   2021-12-04 07:07:57  2021-12-04 16:08:40  2021-12-04
4   2021-12-05 07:08:59  2021-12-05 16:08:28  2021-12-05
..                  ...                  ...         ...
85  2022-02-24 06:33:57  2022-02-24 17:29:10  2022-02-24
86  2022-02-25 06:32:18  2022-02-25 17:30:31  2022-02-25
87  2022-02-26 06:30:37  2022-02-26 17:31:51  2022-02-26
88  2022-02-27 06:28:56  2022-02-27 17:33:11  2022-02-27
89  2022-02-28 06:27:14  2022-02-28 17:34:31  2022-02-28

[90 rows x 3 columns]

In [18]:
# add sunrise and sunset times (winter3)

sun_times3['sunrise'] = sun_times3['sunrise'].dt.strftime('%Y-%m-%d %H:%M:%S')
sun_times3['sunset'] = sun_times3['sunset'].dt.strftime('%Y-%m-%d %H:%M:%S')

sun_times3['date'] = sun_times3['datetime']
sun_times3 = sun_times3.drop(columns=['datetime'])

print(sun_times3)

                sunrise               sunset        date
0   2022-12-01 07:04:25  2022-12-01 16:09:36  2022-12-01
1   2022-12-02 07:05:32  2022-12-02 16:09:16  2022-12-02
2   2022-12-03 07:06:38  2022-12-03 16:08:58  2022-12-03
3   2022-12-04 07:07:42  2022-12-04 16:08:43  2022-12-04
4   2022-12-05 07:08:45  2022-12-05 16:08:31  2022-12-05
..                  ...                  ...         ...
85  2023-02-24 06:34:21  2023-02-24 17:28:50  2023-02-24
86  2023-02-25 06:32:42  2023-02-25 17:30:11  2023-02-25
87  2023-02-26 06:31:01  2023-02-26 17:31:32  2023-02-26
88  2023-02-27 06:29:21  2023-02-27 17:32:52  2023-02-27
89  2023-02-28 06:27:39  2023-02-28 17:34:12  2023-02-28

[90 rows x 3 columns]

In [19]:
# add 'date' column to all dataframes
precip_days1['date'] = precip_days1['datetime'].dt.date
precip_days2['date'] = precip_days2['datetime'].dt.date
precip_days3['date'] = precip_days3['datetime'].dt.date

In [20]:
# merge precip days and sunrise/sunset times on date 
merged1 = pd.merge(precip_days1, sun_times1, on='date')

merged1

Empty DataFrame
Columns: [station, datetime, precip(mm), wxcodes, date, sunrise, sunset]
Index: []

In [21]:
# merge precip days and sunrise/sunset times on date 
merged2 = pd.merge(precip_days2, sun_times2, on='date')

merged2

Empty DataFrame
Columns: [station, datetime, precip(mm), wxcodes, date, sunrise, sunset]
Index: []

In [22]:
# merge precip days and sunrise/sunset times on date 
merged3 = pd.merge(precip_days3, sun_times3, on='date')

merged3

Empty DataFrame
Columns: [station, datetime, precip(mm), wxcodes, date, sunrise, sunset]
Index: []

In [23]:
# filter out only times after sunrise & before sunset 

days1 = merged1[(merged1['datetime'] >= merged1['sunrise']) & (merged1['datetime'] <= merged1['sunset'])]
days2 = merged2[(merged2['datetime'] >= merged2['sunrise']) & (merged2['datetime'] <= merged2['sunset'])]
days3 = merged3[(merged3['datetime'] >= merged3['sunrise']) & (merged3['datetime'] <= merged3['sunset'])]


days1

Empty DataFrame
Columns: [station, datetime, precip(mm), wxcodes, date, sunrise, sunset]
Index: []

In [24]:
# filter out transition hours
days1['sunrise'] = pd.to_datetime(days1['sunrise'])
days1['sunset'] = pd.to_datetime(days1['sunset'])

days1['sunrise+1'] = days1['sunrise'] + timedelta(hours = 1)
days1['sunset-1'] = days1['sunset'] - timedelta(hours = 1)

days1 = days1[days1['datetime'] <= days1['sunset-1']]
days1 = days1[days1['datetime'] >= days1['sunrise+1']]



days2['sunrise'] = pd.to_datetime(days2['sunrise'])
days2['sunset'] = pd.to_datetime(days2['sunset'])

days2['sunrise+1'] = days2['sunrise'] + timedelta(hours = 1)
days2['sunset-1'] = days2['sunset'] - timedelta(hours = 1)

days2 = days2[days2['datetime'] <= days2['sunset-1']]
days2 = days2[days2['datetime'] >= days2['sunrise+1']]



days3['sunrise'] = pd.to_datetime(days3['sunrise'])
days3['sunset'] = pd.to_datetime(days3['sunset'])

days3['sunrise+1'] = days3['sunrise'] + timedelta(hours = 1)
days3['sunset-1'] = days3['sunset'] - timedelta(hours = 1)

days3 = days3[days3['datetime'] <= days3['sunset-1']]
days3 = days3[days3['datetime'] >= days3['sunrise+1']]

In [25]:
days1

Empty DataFrame
Columns: [station, datetime, precip(mm), wxcodes, date, sunrise, sunset, sunrise+1, sunset-1]
Index: []

In [26]:
# find total precip over each year
day_total1 = days1['precip(mm)'].sum()
day_total2 = days2['precip(mm)'].sum()
day_total3 = days3['precip(mm)'].sum()

# total number of obs each year
day_rows1 = days1.shape[0]
day_rows2 = days2.shape[0]
day_rows3 = days3.shape[0]

In [27]:
day_precip_per_hour1 = day_total1/ day_rows1
day_precip_per_hour2 = day_total2/ day_rows2
day_precip_per_hour3 = day_total3/ day_rows3

C:\Users\alyha\AppData\Local\Temp\ipykernel_5920\3440771090.py:1: RuntimeWarning: invalid value encountered in scalar divide
  day_precip_per_hour1 = day_total1/ day_rows1
C:\Users\alyha\AppData\Local\Temp\ipykernel_5920\3440771090.py:2: RuntimeWarning: invalid value encountered in scalar divide
  day_precip_per_hour2 = day_total2/ day_rows2
C:\Users\alyha\AppData\Local\Temp\ipykernel_5920\3440771090.py:3: RuntimeWarning: invalid value encountered in scalar divide
  day_precip_per_hour3 = day_total3/ day_rows3

In [28]:
print('2020-2021:', day_precip_per_hour1)
print('2021-2022:', day_precip_per_hour2)
print('2022-2023:', day_precip_per_hour3)

2020-2021: nan
2021-2022: nan
2022-2023: nan

In [29]:
# filter out only times after sunset & before NEXT sunrise 

nights1 = merged1[(merged1['datetime'] < merged1['sunrise']) | (merged1['datetime'] > merged1['sunset'])]
nights2 = merged2[(merged2['datetime'] < merged2['sunrise']) | (merged2['datetime'] > merged2['sunset'])]
nights3 = merged3[(merged3['datetime'] < merged3['sunrise']) | (merged3['datetime'] > merged3['sunset'])]

nights1

Empty DataFrame
Columns: [station, datetime, precip(mm), wxcodes, date, sunrise, sunset]
Index: []

In [30]:
# filter out transition hours
nights1['sunrise'] = pd.to_datetime(nights1['sunrise'])
nights1['sunset'] = pd.to_datetime(nights1['sunset'])

nights1['sunrise-1'] = nights1['sunrise'] - timedelta(hours = 1) + timedelta(days = 1)
nights1['sunset+1'] = nights1['sunset'] + timedelta(hours = 1)

nights1 = nights1[nights1['datetime'] >= nights1['sunset+1']]
nights1 = nights1[nights1['datetime'] <= nights1['sunrise-1']]



nights2['sunrise'] = pd.to_datetime(nights2['sunrise'])
nights2['sunset'] = pd.to_datetime(nights2['sunset'])

nights2['sunrise-1'] = nights2['sunrise'] - timedelta(hours = 1) + timedelta(days = 1)
nights2['sunset+1'] = nights2['sunset'] + timedelta(hours = 1)

nights2 = nights2[nights2['datetime'] >= nights2['sunset+1']]
nights2 = nights2[nights2['datetime'] <= nights2['sunrise-1']]



nights3['sunrise'] = pd.to_datetime(nights3['sunrise'])
nights3['sunset'] = pd.to_datetime(nights3['sunset'])

nights3['sunrise-1'] = nights3['sunrise'] - timedelta(hours = 1) + timedelta(days = 1)
nights3['sunset+1'] = nights3['sunset'] + timedelta(hours = 1)

nights3 = nights3[nights3['datetime'] >= nights3['sunset+1']]
nights3 = nights3[nights3['datetime'] <= nights3['sunrise-1']]

In [31]:
# find total precip over each year
night_total1 = nights1['precip(mm)'].sum()
night_total2 = nights2['precip(mm)'].sum()
night_total3 = nights3['precip(mm)'].sum()

# total number of obs each year
night_rows1 = nights1.shape[0]
night_rows2 = nights2.shape[0]
night_rows3 = nights3.shape[0]

In [32]:
night_precip_per_hour1 = night_total1/ night_rows1
night_precip_per_hour2 = night_total2/ night_rows2
night_precip_per_hour3 = night_total3/ night_rows3

C:\Users\alyha\AppData\Local\Temp\ipykernel_5920\2704645644.py:1: RuntimeWarning: invalid value encountered in scalar divide
  night_precip_per_hour1 = night_total1/ night_rows1
C:\Users\alyha\AppData\Local\Temp\ipykernel_5920\2704645644.py:2: RuntimeWarning: invalid value encountered in scalar divide
  night_precip_per_hour2 = night_total2/ night_rows2
C:\Users\alyha\AppData\Local\Temp\ipykernel_5920\2704645644.py:3: RuntimeWarning: invalid value encountered in scalar divide
  night_precip_per_hour3 = night_total3/ night_rows3

In [33]:
print('2020-2021:', night_precip_per_hour1)
print('2021-2022:', night_precip_per_hour2)
print('2022-2023:', night_precip_per_hour3)

2020-2021: nan
2021-2022: nan
2022-2023: nan